{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<div class=" col-sm-10 text-center offset-1">
    <h2 class=" my-5 font-weight-bold " style="color: aqua;">About Page </h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam sint eligendi assumenda sequi non, hic eos culpa? Nesciunt distinctio pariatur tenetur illo quaerat, qui officiis veniam consectetur perspiciatis ducimus quisquam corporis quae quis nulla esse?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis animi porro deserunt, dolorum dignissimos fugiat quo quasi mollitia eius voluptate.</p>
    
</div>

{% endblock content %}